/* Open Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Background and Global Font */
html, body {
    /* Full Page */
    background-image:url(https://clienttest.themailshark.net/images/page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #354B85;
    font-family: 'Open Sans', sans-serif;
    height:100vh;
    margin:0px;
    padding:0px;
    width:100vw;
}

#container {
    /* background-color:red; */
    display:flex;
    height:100vh;
    width: 100vw;
}

#navbar {
    background-color:rgba(53, 75, 132, 0.9);
    min-width:70px;
}

#content {
    display:flex;
    flex-direction: column;
    /* background-color:yellow; */
    height:100vh;
    width:Calc(100% - 80px);
}

#content-head {
    width:100%;
    min-height:65px;
/* background-color:green; */
}

#content-body {
    display:flex;
    flex-direction:column;
    width:Calc(100% - 70px);
    height:Calc(100% - 40px);
    /* max-height:850px; */
    background-color:white;
    margin:0px 40px 40px 40px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    box-shadow:0px 0px 20px #161E7566;
}

#tabs {
/* background-color:red; */
    display:flex;
    height:35px;
    background-color:rgba(0,0,0,.03)
}

.tab {
/* background-color:green; */
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color:white;
}












.heading {
    font-weight:lighter;
    font-size:12pt;
    margin:0px;
}

.question {
    display:none;
    margin:30px;
    border: 1px solid #D1DAE9;
    padding:30px;
    border-radius:20px;

}

.unhide-question {
    display:block;
}


.user-input {
    margin-top:10px;
    height:25px;
}


.custom-qty-button {
    background-color:#354B85;
    color:white;
    border:none;
    padding: 8px 10px;
}

.user-button {
    /* display:none; */
    background-color:#3b4b85;
    color:white;
    padding: 8px 20px;
    border:none;
    margin-top:14px;
    border-radius:10px;
}

#custom-qty-input {
    width:50px;
}

.qty-select-area {
    display:flex;
    flex-direction: row;
    margin-top:18px;
}

.customSelect {
    /* max-height:300px; */
    /* overflow-y:scroll; */
    /* margin-top:20px; */
    min-width:50%;
}



#heading-thumb {
    max-width:50px;
    /* margin-top:20px; */
    margin-bottom:7px;
}

.heading-img {
    /* background-color:lightblue; */
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border:1px solid #354B85; */
    border-radius:10px;
    background-color:rgba(53, 75, 132, 0.05);
    /* margin-bottom:20px; */
    min-width:200px;
    max-height:140px;
    padding:20px 0px;
    margin-right:30px;
}

.thumb-summary {
    display:flex;
}

.link-small {
    font-size:10px;
}

.question-button {
    background-color:#354B85;
    color:white;
    border-radius:4px;
    width:150px;
    margin-top:20px;
    padding:5px;
    text-align:center;
    font-size:10pt;
    transition: 0.3s;
}

.question-set {
    background-color:rgba(53, 75, 132, 0.1);
    color:#354B85;
    border-radius:4px;
    width:150px;
    margin-top:20px;
    padding:5px;
    text-align:center;
    font-size:10pt;
    pointer-events:none;
    transition: 0.3s;
}

.question-button:hover {
    cursor:pointer;
    filter: brightness(1.25);
}


.qty-price-area {
    margin-bottom:5px;
}

.qty-price {
    display:flex;
    flex-direction:column;
    /* align-items: center; */
    /* justify-content: center; */
    /* width:100%; */
    margin-left:20px;
    /* height:100%; */
}



.warn {
    display:none;
    color:crimson;
    /* background-color:crimson; */
    /* text-align:center; */
    margin-top:2px;
    font-size:10pt;
    /* padding:2px; */
    width:210px;
}


.summary-area-head {
    /* margin-top:10px;
     */
    margin-bottom:10px;
    font-weight:bolder;
    /* text-align:center; */
}

.summary-area {
    padding:15px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius:10px;
    margin-bottom:10px;
}



.summary-item {
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
}

.summary-item-text {
    font-size:10pt;
}

.summary-item-value {
    margin-left:auto;
    color:#488DC2;
}

.bold {
    font-weight:bold;
}

.date-picker {
    /* margin-top:20px; */
    height:30px;
}

#wk-select-area {
    /* display:flex; */
    /* align-items: center; */
    padding-top:20px;
    /* justify-content: center; */
}

.q-description {
    /* margin-left:30px; */
    margin-top:10px;
    font-size:10pt;
    font-weight:bolder;
    /* font-size:10pt; */
}

.num-week {
    display:flex;
    flex-wrap:wrap;
    margin-top:20px;
}

#wmc {
    margin-bottom:0px;
}

.num-week-choice {
    display:flex;
    flex-direction: column;
    padding:10px;
    border: 1px solid #354B85;
    border-radius:5px;
    font-size:10pt;
    align-items: center;
    /* min-width:100px; */
    width:40%;
    margin-right:20px;
    margin-bottom:20px;
    cursor:pointer;
    transition:.3s;
}

.num-week-choice:hover {
    color:white;
    background-color:#354B85;
}

.num-week-selected {
    color:white;
    background-color:#2B3E6F;
}

.num-week-week {
    font-weight:bolder;
    font-size:9.5pt;
    text-transform: uppercase;
}

.input-format {
    max-height:20px;
    padding: 0.3em;
    font-size:12pt;
    min-width:200px;
    transition:.3s;
}

.input-warn {
    border:1px solid red;
}


.go-to-summary {
    display:none;
    margin-left:10px;
}

.button-area {
    display:flex;
    padding-top:20px;
    flex-direction: row;
    align-items: center;
}

#expand-icon {
    margin-left:10px;
}

#view-summary {
    display:none;
    align-items: center;
    font-size:smaller;
    justify-content: center;
    background-color:#354B85;
    color:white;
    height:35px;
    width:Calc(100% - 40px);
    margin:20px;
    border-radius:10px;
}

#view-summary:hover {
    filter:brightness(120%);
    cursor:pointer;
}

#summary-total {
    /* background-color:lightblue; */
    /* margin-toep:20px; */
    padding-top:20px;
    /* border-top-width:1px;
    border-top-style:solid;
    border-top-color: #D1DAE9; */
}

#tc {
    margin-top:0px;
}

.extras-buttons {
    display:flex;
}

.extras-buttons .question-button {
    width:100px;
    margin-right:20px;
}

#extras-input-area {
    display:none;
     margin-top:20px;
}


#ship-value {
    max-width:180px;
    text-align:right;
}

.disabled-button {
    background-color:rgba(53, 75, 132, 0.1);
    color:#354B85;
    
}

#extras-next-button {
    display:none;
}

#ship-sel {
    height:25px;
    margin-top:20px;
}

.payment-buttons {
    display:flex;
    flex-direction:row;
}

.payment-button {
    width:150px;
    height:60px;
    margin-right:20px;
    margin-top:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px solid #3b4b85;
    border-radius:5px;
    flex-direction: column;
    transition:0.3s;
}

.payment-button:hover {
    color:white;
    background-color:#354B85;
    cursor:pointer;

}
.payment-button i {
    margin-bottom:5px;
}
.payment-button p {
    margin:0px;
    font-size:9pt;
}

#ach-button {
    /* background-color:lightsalmon; */
}

#cc-button {
    /* background-color:lightgreen; */
}

#addcc-button {
    color:mediumseagreen;
    border-color:mediumseagreen;
    /* border:none; */
}

#addcc-button:hover {
    background-color:transparent !important;
    filter:brightness(110%);
}




.pay-selected {
    color:white !important;
    background-color:#2B3E6F !important;
}

.confirm-text {
    display:flex;
    align-items: center;
}

.confirm-text i {
    color:mediumseagreen;
    margin-right:8px;
}



#message-container {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color:rgba(0,0,0,.5);
    display:none;
    align-items:center;
    justify-content: center;
}

#message-body {
    background-color:white;
    padding:30px;
}

#message-buttons {
    display:flex;
    align-items: center;
    justify-content: center;
}

.message-button {
    border:none;
    padding:5px 20px;
    color:white;
    background-color:#f78d1e;
    margin:10px 10px;
    min-width:100px;

}

.message-button:hover {
    cursor:pointer;
    filter:brightness(110%);
}

#message {
    text-align:center;
}

/* #dn-title, #dn-value {
    font-size:12pt;
} */

.summary-add-button {
    width:100%;
    margin-top:10px;
}

/* Price table */

.toggler {
    display:none;
}

.price-guide {
    /* background-color:lightblue; */
    /* /* display:flex; */
    max-width:300px;
    display:flex;
    margin-top:20px;

    font-size:10pt;
}

.price-tiers, .price-costs {
    /* background-color:lightgreen; */
    display:flex;
    flex-direction: column;
    width:100%;
    /* width:100%;
    font-size:11pt; */
}

.row-wrapper {
    padding:5px;
}

.price-tiers > .row-wrapper {
    padding-right:20px;

}

.price-costs > .row-wrapper {
    padding-left:20px;

}

.price-tiers, .price-costs {
    text-align:center;
    /* padding-right:50px; */
}

/* .price-tiers {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
} */

.row-wrapper:nth-child(even) {background: rgba(0,0,0, 0.03)}
.price-headers {
    justify-content: center;
}

.price-headers {
    font-weight:lighter;
    color:#354b85ad;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgba(0,0,0,.1);
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:rgba(0,0,0,.1);
    font-size:10pt;
    /* height: 29px; */
    display: flex;
    align-items: center;
}

.summary-add-button {
    margin-right:unset;
    margin:0px 5px;
}

.sel-area {
    margin: 20px 0px;
}

.sel-format {
    height:30px;
    min-width:200px;
}

#tc-value, #wmc-value, #tpc-value, #tmc-value, #dn-value {
    text-decoration: underline;
}


.dn {
    font-size:11pt;
    font-weight:bolder;

    /* color:white; */
}

#dn {

    /* font-weight:bolder; */
    /* background-color:#354B85; */
    border:1px solid rgba(0,0,0,.1);
    padding:5px 14px;
    margin-bottom:0px;
    margin-top:15px;
    border-radius:10px;
}

.disc {
    font-size:9pt;
}

#date-disc {
    font-weight:bolder;
}

/**
    FIXING THE ORDER DETAILS AREA
*/

#content-container {
    display:flex;
    /* background-color:lightcoral; */
    max-height:Calc(100vh - 120px);
    height:100%;
}


#detail-questions {
    /* width:100%; */
    /* height:100%; */
    
    /* background-color:lightblue; */
    overflow-y:auto;
    transition:.3s;
}


#detail-summary {
    width:360px;
    min-width:360px;
    /* margin:0px 10px; */
    display:none;
    /* display:flex; */
    flex-direction:column;
    /* flex-grow: */
}

#summary-head {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#354B85;
    border-radius:5px;
    height:30px;
    /* margin-top:10px; */
    color:white;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    /* height:100%; */
}

#summary-head > h4 {
    font-weight:bolder;
}

#mail-summary {
    margin-top:10px;

}

#summary {
    /* flex-grow:1; */
    height:100%;
    overflow-y:auto;
    /* background-color:lightcoral; */
    padding:10px;
    margin:10px;
    margin-bottom:0px;
    /* border: 1px solid rgba(0,0,0,.1); */
    border-radius:10px;
}
/* #summary-area {

} */

.add-to-cart-buttons {
    display:flex;
}

.add-to-cart-button {
    margin-right:20px;
}

/* .summary-add-to-cart-buttons  */

.summary-add-to-cart-buttons-container {
    display:flex;
    height:70px;
    align-items: center;
    margin:0px 20px;
}

.summary-add-to-cart-buttons {
    width:120px;
    margin:auto;
}

.due-now {
    display:flex;
    /* width:100%; */
    margin:10px 30px;
    font-weight:bolder;
}

#dn-value {
    margin-left:auto;
} 



/* No longer worried about mobile - that will be for another day */


/*
@media only screen and (min-width: 1080px) {
    #summary-area {
        display:block !important;
    }
}
@media only screen and (max-width: 1080px) {
    
    #expand-summary {
        display:block;
    }

    #summary-area {
        display:none;
    }

    #detail-summary {
        background-color:rgba(0,0,0,.02);
        min-width:unset;
        width:30px;
    }

    #detail-summary:hover {
        cursor:pointer;
        background-color:rgba(0,0,0,.04)
    }

    #summary-area {
        display:none;
    }

    #content-container {
        flex-direction:column;
        flex-wrap:nowrap;
        flex:1;
        overflow-y: auto;
    }

    #content-body {
        overflow-y:auto;
    }

    #detail-summary {
        width:100%;
        height:unset;
    }

    #detail-questions {
        flex-grow:1;
        max-height:unset;
    }

    #summary-area {
        height:unset;
    }

    .go-to-summary {
        display:block;
    }

    #view-summary {
        display:flex;
    }
    
  }*/